@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600;700&display=swap');



:root{
  --text-lightDark: rgb(173, 173, 173);
  --letter-space-xx:  1.3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
}

body{
  background-color: black;
}



.container{
  display: flex;
  flex-direction: column;
  padding-left: 16em;
  padding-right: 16em;
}

.nav-bar-parent {
  font-family: "Trispace", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  color: white;
}
.nav-list li{
  color: white;
  font-family: "Trispace", sans-serif;
}

/* Bio  */

.section{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  letter-spacing: var(--letter-space-xx);
  line-height: 22px;
  color: rgb(78, 78, 78);
  font-weight: 400;
}

.section span {
  padding-bottom: 3em;
}

.bio_header{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: "Trispace", sans-serif;
}

.img__svg{
  position: absolute;
  z-index: -1;
  top: 29rem;
  left: 12em;
  transform: rotate(180deg);
  zoom: 0.4;
}

/* Grids  */

.gallery{
  display: flex;
  align-items: center;
  background-image: url("../public/misc-13.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: 23em;
  padding: 12px 12em 0 12em;
}

.gallery_txt{
  width: 50%;
}

.gallery_txt span {
  letter-spacing: var(--letter-space-xx);
  font-size: 24px;
  color: var(--text-lightDark);
}


.nav-list {
  display: flex;
  justify-content: space-between;
}

b {
  margin-right: 23px;
  font-family: "Silkscreen", cursive;
}

a {
  justify-content: space-around;
  margin-right: 11px;
  font-weight: 200;
  font-family: "Silkscreen", cursive;
}



@media screen and (max-width: 768px) {
  .container{
    max-width: 100%;
    padding: 0;
  }


  .nav-bar-parent{
    justify-content: flex-start;
  }
  .nav-list{
    justify-content: flex-end;
    flex-direction: row;
  }

  .gallery_txt  span{
    margin-top: 3em;
  }

  .section span{
    width: 100% !important;
    margin: auto;
  }
  .gallery{
    flex-direction: column;
    width: 100%;
    padding:0 0 10em 0;
  }

}



