@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
}

.container{
  display: flex;
  flex-direction: column;
  padding-left: 16em;
  padding-right: 16em;
}

.nav-bar-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

/* Bio  */

.section{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  letter-spacing: 1.3px;
  line-height: 22px;
  font-weight: 600;
}

.bio_header{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Grids  */

.parent{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 30em;
  grid-row-gap: -10em;
  margin: auto;
  margin-top: 5em;
  }
.grid-3{
  grid-column: 2;
  grid-row: 2;
}


.nav-list {
  display: flex;
  justify-content: space-between;
}

b {
  margin-right: 23px;
  font-family: "Silkscreen", cursive;
}

a {
  justify-content: space-around;
  margin-right: 11px;
  font-weight: 200;
}

@media screen and (max-width: 769px) {
  body {
    margin-left: 7px;
  }

  .nav-bar-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 409px;
  }

  li {
    font-size: 8px;
    padding-top: 5px;
  }

  b {
    margin-right: 17px;
    font-size: 11px;
    font-family: "Silkscreen", cursive;
  }

  .nav-list {
    display: flex;
    justify-content: space-evenly;
    margin-right: 7px;
  }
}
